
.navbar {
    background-color: #2C3E50;
}

a {
    text-decoration: none;
}

.bg-green{
    background-color: #1ABC9C;
}

.bg-dark{
    background-color: #3A546D;
}

.bg-darker{
    background-color: #2C3E50;
}

.bg-light{
    background-color: white;
}


/* .col{
    border: 2px dashed black;
} */


.about{
    height: 500px;
}


.avatarimg{
    width: 250px;
}

.separatore{
    font-size: 2.5rem;
}

.separatore::before, .separatore::after {
    content: '';
    display: inline-block;
    width: 10%;
    height: 5px;
    position: relative;
    top: -10px;
    border-radius: 100px;
}

.stella-bianca::before, .stella-bianca::after{
    background-color: white;
}

.stella-nera::before, .stella-nera::after{
    background-color: black;
}

.debug .contacts{
    height: 500px;
}

input, textarea {
    margin: 10px 0;
    width: 100%;
    padding-bottom: 10px;
    border: none;
    border-bottom: 1px solid #CCCCCC;
    font-size: 1.2rem;
}

textarea {
    min-height: 200px;
}

input[type="submit"] {
    width: fit-content;
    padding: 10px 20px;
    background-color: #1ABC9C;
    border-radius: 10px;
    color: white;
}

.footer{
    background-color: #2C3E50;
    border: 2px dashed white;
    height: 400px;
} 